<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Network"
             type="Pangea.Network.ConfigSection.NetworkSection, Pangea.Network"/>
  </configSections>

  <Network>
    <Connections>
      <!-- The 'server' and 'timeout' are optional. 
           Timeout default is 1 minute.
           For IIS add the 'server'-->
        <add name="NGU.Admin.Server" host="192.168.1.33" port="80" server="NGU.Admin"/>
		<!--<add name="NGU.Admin" host="localhost" port="55147" server="NGU.Admin"/>-->
		
		<!--<add name="NGU.Admin.Server" host="localhost" port="55147" />-->	      
		<!--<add name="NGU.Abis.Server" host="10.20.1.154" port="80" server="NGU.AbisService" />-->
      
    </Connections>
  </Network>
</configuration>