<appSettings>
  <!--<add key="WCFServer" value="localhost"/>  --><!--"192.168.1.16"  "192.168.1.43"  "192.168.1.46" "172.16.0.120"--><!--
  <add key="WCFPort" value="9002"/>
  --><!--<add key="AdminApiPath" value="http://192.168.1.103:9001/Admin/ApiService.svc"/>--><!--
  <add key="AdminApiPath" value="http://localhost:9001/Admin/ApiService.svc"/>-->
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  <add key="IsFlowSchemeMode" value="True"/>
  <add key="ServerUpdatedVersionFolder" value="UpdatedVersion"/>

</appSettings>
