<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Network"
             type="Pangea.Network.ConfigSection.NetworkSection, Pangea.Network"/>
  </configSections>

  <Network>
    <Connections>
      <!-- The 'server' and 'timeout' are optional. 
           Timeout default is 1 minute.
           For IIS add the 'server'
      <add name="ConnectionName" host="localhost" port="8088" server="server" timeout="3"/>-->
    </Connections>
  </Network>
</configuration>