<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
        autoReload="true"
        throwExceptions="true"
        internalLogLevel="Warn" internalLogFile="nlogs\nlog-internal.log">

    <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="event-properties:appName" value="NGU.Border"/>  
    <variable name="CommonLayout" value="${date:format=yyyy-MMM-dd HH\:mm\:ss.fff (z)}|${level:uppercase=true}|${logger}|${machinename}|${threadid}|${event-properties:appName}|${event-properties:methodName}|{${message}}|${exception:format=toString}"/>

    <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->

    <targets>
      <target name="logFile" xsi:type="File"
              fileName="logs\${event-properties:appName}\${logger}\${logger}_${shortdate}.log"
              archiveNumbering="DateAndSequence"
              archiveEvery="Month"
              concurrentWrites="true"
              keepFileOpen="true"
              concurrentWriteAttemptDelay="20"
              concurrentWriteAttempts="10"/>

      <target name="imagesLog" xsi:type="ImageFile"
              fileName="logs\${event-properties:appName}\${logger}\Images\${logger}_${longdate}"
              minQuotaMB="300"
              maxQuotaMB="500"
              deleteFilesEveryMin="5"/>

      <target name="logconsole" xsi:type="ColoredConsole"/>

      <target name="debugger" xsi:type="Debugger" />

      <target name="eventlog" xsi:type="EventLog"/>

      <!-- local console host -->
      <!--<target name="appserverdb" type="PangeaServerDB" host="localhost" port="8002" address="DBLogger"/>-->
      <!-- local IIS host -->
      <!--<target name="appserverdb" type="PangeaServerDB" host="localhost" port="65151" address="LoggingService.svc"/>-->
       <!--remote IIS host--> 
      <!--<target name="appserverdb" type="PangeaServerDB" host="192.168.1.16" port="8002" address="DB-Logger/LoggingService.svc"/>-->
    </targets>


    <rules>
      <logger name="*" minlevel="Trace" writeTo="imagesLog"/>
      <logger name="log" minlevel="Trace" writeTo="logconsole,debugger" />
      <logger name="log" minlevel="Debug" writeTo="logFile"/>
      <logger name="log" minlevel="Info" writeTo="eventlog"/>
      <!--<logger name="log" minLevel="Error" writeTo="appserverdb"/>-->
    </rules>
  </nlog>
</configuration>