<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings configSource="Config\appSettings.config" />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="basicBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="httpBind" maxReceivedMessageSize="2147483647" useDefaultWebProxy="false">
          <security mode="None" />
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxNameTableCharCount="2147483647" maxDepth="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="NGU.Services.UserService" behaviorConfiguration="basicBehavior">
        <endpoint binding="basicHttpBinding" bindingConfiguration="httpBind" contract="NGU.Interfaces.Services.IUserService" />
      </service>
      <service name="NGU.Services.ValueObjectService" behaviorConfiguration="basicBehavior">
        <endpoint binding="basicHttpBinding" bindingConfiguration="httpBind" contract="NGU.Interfaces.Services.IValueObjectService" />
      </service>
      <service name="NGU.Services.SystemService" behaviorConfiguration="basicBehavior">
        <endpoint binding="basicHttpBinding" bindingConfiguration="httpBind" contract="NGU.Interfaces.Services.ISystemService" />
      </service>
      <service name="NGU.Services.RequestService" behaviorConfiguration="basicBehavior">
        <endpoint binding="basicHttpBinding" bindingConfiguration="httpBind" contract="NGU.Interfaces.Services.IRequestService" />
      </service>
      <service name="NGU.Services.PersonService" behaviorConfiguration="basicBehavior">
        <endpoint binding="basicHttpBinding" bindingConfiguration="httpBind" contract="NGU.Interfaces.Services.IPersonService" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4000" newVersion="2.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2014.3.1021.45" newVersion="2014.3.1021.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Input" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2014.3.1021.45" newVersion="2014.3.1021.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Navigation" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2014.3.1021.45" newVersion="2014.3.1021.45" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 7621D10D-469C-4D0F-812D-E666DB023705-->