<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <!--Services start-->
    
    <component id="UserService"
               service="NGU.Interfaces.Services.IUserService, NGU.Interfaces"
               type="NGU.Services.UserService, NGU.Services">
    </component>

    <component id="ValueObjectService"
               service="NGU.Interfaces.Services.IValueObjectService, NGU.Interfaces"
               type="NGU.Services.ValueObjectService, NGU.Services">
    </component>

    <component id="SystemService"
          service="NGU.Interfaces.Services.ISystemService, NGU.Interfaces"
               type="NGU.Services.SystemService, NGU.Services">
    </component>

    <!--Services end-->
    
    
    

    <!--Repositories start-->
    
    <component id="HibernateInterceptor" type="Pangea.Hibernate.HibernateInterceptor, Pangea.Hibernate" />

    <component id="PersonRepository"
           service="NGU.Interfaces.Repositories.IPersonRepository, NGU.Interfaces"
           type="NGU.Repositories.PersonRepository, NGU.Repositories">
      <interceptors>
        <interceptor>${HibernateInterceptor}</interceptor>
      </interceptors>
    </component>

    <component id="RequestRepository"
           service="NGU.Interfaces.Repositories.IRequestRepository, NGU.Interfaces"
           type="NGU.Repositories.RequestRepository, NGU.Repositories">
      <interceptors>
        <interceptor>${HibernateInterceptor}</interceptor>
      </interceptors>
    </component>
    
    <component id="SystemRepository"
           service="NGU.Interfaces.Repositories.ISystemRepository, NGU.Interfaces"
           type="NGU.Repositories.SystemRepository, NGU.Repositories">
      <interceptors>
        <interceptor>${HibernateInterceptor}</interceptor>
      </interceptors>
    </component>

    <component id="BaseRepository"
           service="NGU.Interfaces.Repositories.IBaseRepository, NGU.Interfaces"
           type="NGU.Repositories.BaseRepository, NGU.Repositories">
      <interceptors>
        <interceptor>${HibernateInterceptor}</interceptor>
      </interceptors>
    </component>
    
    <!--Repositories end-->

  </components>
</configuration>