<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<add key="sequences" value="LeftThumb,LeftIndex,RightThumb,RightIndex"/>-->
  <add key="sequences" value="PlainRightFourFingers,PlainLeftFourFingers,PlainThumbs"/>
  <add key="impression" value="plain"/>
  <add key="VerifyMode" value="All"/>
  <add key="MaxWaived" value="3"/>
  <add key="MultiCapture" value="N"/>
  <add key="MultiFingerWindow" value="Y"/>
  <add key="ScanFromPaper" value="N"/>
  <add key="FingerThreshold" value="30"/>
  <add key="FingerThresholdFromPaper" value="20"/>
  <add key="ShowActionButtons" value="Y"/>
  <add key="ThemeColor" value="#233f5a"/>
  <add key="MatchingThreshold" value="70"/>
  <add key="IsTestMode" value="T"/>
</configuration>