<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Pangea.MultiLanguage" version="1.0.0.37" targetFramework="net472" />
  <package id="Pangea.Network" version="1.0.0.11" targetFramework="net472" />
  <package id="Pangea.NetworkConfig" version="1.0.0.11" targetFramework="net472" />
</packages>