<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Network"
             type="Pangea.Network.ConfigSection.NetworkSection, Pangea.Network"/>
  </configSections>

  <Network>
    <Connections>
      <!-- The 'server' and 'timeout' are optional. 
           Timeout default is 1 minute.
           For IIS add the 'server'-->
           <add name="NGU.Border.Server" host="localhost" port="55750" timeout="3"/>
    </Connections>
  </Network>
</configuration>