<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Network"
             type="Pangea.Network.ConfigSection.NetworkSection, Pangea.Network"/>
  </configSections>

  <Network>
    <Connections>
      <!-- The 'server' and 'timeout' are optional. 
           Timeout default is 1 minute.
           For IIS add the 'server'-->
      <add name="ConnectionName" host="localhost" port="55750" timeout="3"/><!--"192.168.1.16"  "192.168.1.43"  "192.168.1.46" "172.16.0.120"-->
      <add name="Admin" host="10.20.1.154" port="9001" server="Admin"/>
      <!--<add name="Admin" host="localhost" port="9001" server="Admin"/>-->

    </Connections>
  </Network>
</configuration>