<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings configSource="Config\appSettings.config" />

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="C:/NeurotechLib" />
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4000" newVersion="2.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2014.3.1021.45" newVersion="2014.3.1021.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Input" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2014.3.1021.45" newVersion="2014.3.1021.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Navigation" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2014.3.1021.45" newVersion="2014.3.1021.45" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <probing privatePath="NeurotechLib" />
      
      <dependentAssembly>

        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4000" newVersion="2.1.0.4000" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Neodynamic.SDK.Barcode" publicKeyToken="c6b33c3093a0d4cd" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.0.2000.0" newVersion="2.0.2000.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.50.5147.0" newVersion="1.50.5147.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Telerik.Windows.Controls" publicKeyToken="5803cfa389c90ce7" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2014.3.1021.45" newVersion="2014.3.1021.45" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Telerik.Windows.Data" publicKeyToken="5803cfa389c90ce7" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2014.3.1021.45" newVersion="2014.3.1021.45" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
